@charset "utf-8";
body, div, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dt, dd, ol, ul, li, hr, fieldset, form, label, legend, th, td, article, aside, figure, footer, header, menu, nav, section, summary,a{
	margin: 0;
	padding: 0;
	border: 0;
	font-family:-apple-system,"Helvetica Neue",HelveticaNeue,"Helvetica-Neue",Helvetica, Verdana,"Microsoft YaHei", "SimHei", "SimSun";
	
}
body,html{
	position: relative;
    height: 100%;	
}
*{ -webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color: transparent; }
a {
    -webkit-touch-callout: none;
    -ms-touch-callout: none;
    -moz-touch-callout: none;
    -o-touch-callout: none;
    touch-callout: none;
}
a {
	text-decoration:none;
}
a:active, a:hover {
	outline: 0;
}
img {
	/*max-width: 100%;*/
	display: block;
	border:0;
	vertical-align:bottom;
}

.fl{float:left;}
.fr{float:right;}
.cb{clear:both;}

.sd-box {width:7.5rem; height: 100%;}
.sd-box .sdo { height: 100%; position: relative; color:#fff;text-align:center; }
.sd-box .sdo1{background:url(../img/bei1.jpg) no-repeat;background-size:100% 100%;}
.sd-box .sdo2,.sd-box .sdo3,.sd-box .sdo4,.sd-box .sdo5,.sd-box .sdo6,
.sd-box .sdo7,.sd-box .sdo8,.sd-box .sdo9,.sd-box .sdo10,.sd-box .sdo11,.sd-box .sdo12,.sd-box .sdo13,.sd-box .sdo14{/*background:#f7f6f2;*/background:url(../img/bei2.jpg) no-repeat;background-size:100% 100%; }
.mo-bottom{width:100%;height:1.73rem;background:url(../img/bei2.png) no-repeat;background-size:100% auto;position:absolute;bottom:0;left:0;}
.mo-title1{font-size:0.38rem;color:#593f2c;font-weight:bold;width:100%;position:absolute;left:0;/*top:0.4rem;*/top:3%}
.mo-title1a{font-size:0.36rem;color:#3a3433;font-weight:bold;width:100%;position:absolute;left:0;top:52%;}



.sdo-up{
	height:auto;
	width:0.7rem;
	position:absolute;
	left:50%;
	top:85%;
	margin-left:-0.415rem;
	z-index:99;
}

.sd-moveup{
	-webkit-animation: moveIconUp ease 1.5s both infinite;
	-webkit-animation: moveToBottom ease 1.5s both infinite;
  animation: moveIconUp ease 1.5s both infinite;
  animation: moveToBottom ease 1.5s both infinite;
}
@-webkit-keyframes moveToBottom {
	from { }
	to { -webkit-transform: translateY(100%); }
}
@keyframes moveToBottom {
	from { }
	to { -webkit-transform: translateY(100%); transform: translateY(100%); }
}
@-webkit-keyframes moveIconUp {
	0% { -webkit-transform: translateY(100%); opacity:0;}
	50% { -webkit-transform: translateY(0%); opacity:1;}
	100% { -webkit-transform: translateY(-100%); opacity:0;}
}
@keyframes moveIconUp {
	0% { -webkit-transform: translateY(100%); transform: translateY(100%); opacity:0;}
	50% { -webkit-transform: translateY(0%); transform: translateY(0%); opacity:1;}
	100% { -webkit-transform: translateY(-100%); transform: translateY(-100%); opacity:0;}
}


.sd-box{
        width: 7.5rem;
        height: 100%;
        margin:0 auto;
    }
.sdo{
    text-align: center;
    font-size: 18px;
    background: #fff;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
    
/*A1*/
/*A1-a*/
.mo-a-no2{display:none;position:absolute;left:0.5rem;top:4.73rem;/*top:13.7%;*/width:2.43rem;height:3.56rem;background:url(../img/mo-no2.png) no-repeat;background-size:100% auto;}
.mo-no-txt1{position:absolute;top:2rem;width:100%;}
.mo-no-txt1a{color:#593f2c;font-size:0.24rem;text-align:center;}
.mo-no-txt1b{color:#d45b78;font-size:0.3rem;text-align:center;}
.mo-no-txt2{position:absolute;top:2.65rem;width:100%;}

.mo-a-no1{position:absolute;left:2.6rem;top:2rem;/*top:9.4%;*/width:2.36rem;height:3.78rem;background:url(../img/mo-no1.png) no-repeat;background-size:100% auto;}
.mo-no-txt3{position:absolute;top:2rem;width:100%;}
.mo-no-txt4{position:absolute;top:2.65rem;width:100%; }

.mo-a-no3{display:none;position:absolute;right:0.5rem;top:4.8rem;/*top:15.3%;*/width:2.42rem;height:3.46rem;background:url(../img/mo-no3.png) no-repeat;background-size:100% auto;}
.mo-no-txt5{position:absolute;top:1.9rem;width:100%;}
.mo-no-txt6{position:absolute;top:2.55rem;width:100%;}

.mo-no-txt1c{color:#FFFFFF;font-size:0.3rem;width:100%;text-align:center;position:absolute;bottom:0.02rem;}
.moam-n1 .mo-a-no1{position:absolute;animation:moam-n1 1.5s;-webkit-animation:moam-n1 1.5s;animation-fill-mode: inherit;top:2rem;/*top:9.4%;*/}
 @keyframes moam-n1{
    0%{top:0;opacity:0;}  100%{top:2rem;opacity:1;}
 }
  @-webkit-keyframes moam-n1{
    0%{top:0;opacity:0;}  100%{top:2rem;opacity:1;}
 }
  @-moz-keyframes moam-n1{
  	0%{top:0;opacity:0;}  100%{top:2rem;opacity:1;}
 }
 @-o-keyframes moam-n1{
   	0%{top:0;opacity:0;}  100%{top:2rem;opacity:1;}
 }
 
.moam-n2 .mo-a-no2{display:block;position:absolute;animation:moam-n2 1.5s;-webkit-animation:moam-n2 1.5s;animation-fill-mode: inherit;left:0.5rem;}
 @keyframes moam-n2{
    0%{left:0;opacity:0;}  100%{left:0.5rem;opacity:1;}
 }
  @-webkit-keyframes moam-n2{
    0%{left:0;opacity:0;}  100%{left:0.5rem;opacity:1;}
 }
  @-moz-keyframes moam-n2{
  	0%{left:0;opacity:0;}  100%{left:0.5rem;opacity:1;}
 }
 @-o-keyframes moam-n2{
   	0%{left:0;opacity:0;}  100%{left:0.5rem;opacity:1;}
 }
 
.moam-n3 .mo-a-no3{display:block;position:absolute;animation:moam-n3 1.5s;-webkit-animation:moam-n3 1.5s;animation-fill-mode: inherit;right:0.5rem;}
 @keyframes moam-n3{
    0%{right:0;opacity:0;}  100%{right:0.5rem;opacity:1;}
 }
  @-webkit-keyframes moam-n3{
    0%{right:0;opacity:0;}  100%{right:0.5rem;opacity:1;}
 }
  @-moz-keyframes moam-n3{
  	0%{right:0;opacity:0;}  100%{right:0.5rem;opacity:1;}
 }
 @-o-keyframes moam-n3{
   	0%{right:0;opacity:0;}  100%{right:0.5rem;opacity:1;}
 }

.mo-teltabel{position:absolute;left:50%;margin-left:-3.45rem;bottom:19%;width:6.9rem;/*height:2.9rem;*/background:#FFFFFF;border-radius:0.2rem;box-shadow: 0 0 0.5rem rgba(109,98,97,0.2);}
.mo-telt-t{font-weight:bold;color:#3a3433;font-size:0.3rem;padding-top:0.09rem;width:100%;height:0.45rem;border-bottom:0.02rem solid #f7f6f2;}
.mo-telt-tl{float:left;width:3.44rem;line-height:0.45rem;border-right:0.02rem solid #f7f6f2;}
.mo-telt-tli{float:right;width:3.14rem;}
.mo-telt-tr{float:right;width:3.43rem;line-height:0.45rem;}
.mo-telt-tri{float:left;width:3.14rem;}
.mo-telt-m{width:6.3rem;margin:0 auto;color:#b3adad;font-size:0.3rem;line-height:0.45rem;}
.mo-telt-ma{width:100%;height:0.68rem;border-bottom:0.02rem solid #f7f6f2;}
.mo-telt-ml{float:left;width:3.14rem;line-height:0.68rem;border-right:0.02rem solid #f7f6f2;}
.mo-telt-mr{float:right;width:3.13rem;line-height:0.68rem;}
.mo-telt-mb{width:100%;height:0.68rem;}
/*A1*/
.mo-a1-txt1{font-size:0.3rem;color:#6d6261;position:absolute;left:0.5rem;/*top:1.2rem;*/top:10%;}
.mo-a1-txt2{font-size:0.3rem;color:#6d6261;position:absolute;left:0.5rem;/*top:1.95rem;*/top:15%;}
.mo-a1-txt1 b,.mo-a1-txt2 b{color:#e94e4e;}
.mo-quan1o{width:7.5rem;position:absolute;/*top:3.5rem;*/top:38%;left:0rem;}
rect.highcharts-background{fill:none;}
.moquan{width:7.5rem;height:4.5rem;}
.mo-bit{width:3rem;/*margin:0 auto;*/position:absolute;top:95%;left:50%;margin-left:-1.5rem;}
.mo-biti i{vertical-align:middle;margin-bottom:0.05rem;display:inline-block;width:0.55rem;height:0.3rem;border-radius:0.05rem;}
.mo-green{background:#89c997;}
.mo-bittxt1{color:#6d6261;font-size:0.3rem;display:inline-block;}
.mo-orange{background:#fd914e;}
.mo-blue{background:#7cb7fb;}
.mo-red{background:#f46a6a;}
.mo-title1b{/*padding-top:0.25rem;*/height:1rem;line-height:1rem;font-size:0.38rem;color:#593f2c;width:90%;position:absolute;left:5%;/*top:2.8rem;*/top:34.7%;}
.mo-a1-txt4{font-weight:bold;color:#6d6261;font-size:0.26rem;position:absolute;bottom:20%;width:100%;left:0;}
.mo-a1-txt4 span{color:#e94e4e;}

#age-group{width:7.5rem;height:8rem;position:absolute;top:10%;left:0rem;}
g.highcharts-axis.highcharts-yaxis {display:none;}


.mo-map{position:absolute;left:0.15rem;/*top:1.2rem;*/top:21%;}
.mo-map-city{position:absolute;left:0.56rem;bottom:30%;}
.mo-city{color:#FFFFFF;font-size:0.26rem;text-align:center;line-height:0.38rem;display:inline-block;width:0.63rem;height:0.38;border-radius:0.1rem;}
.mo-map-txt2{text-align:left;width:2rem;color:#6d6261;font-size:0.26rem;display:inline-block;padding-left:0.2rem;}
.mo-map-txt2 span{/*padding-left:0.4rem;*/}
.mo-map-cityi{padding-top:0.04rem;}
.mo-city1{background:#3397f3;}
.mo-city2{background:#419ef3;}
.mo-city3{background:#4da5f6;}
.mo-city4{background:#58abf8;}
.mo-city5{background:#66b1f7;}
.mo-city6{background:#73b6f5;}
.mo-city7{background:#8fc9fe;}
.mo-city8{background:#8fc9fe;}
.mo-city9{background:#9aceff;}
.mo-city10{background:#a7d3fd;}
.mo-map img{transform: scale(0.2);}
.mo-map-b img{moz-transition: all .8s ease;-o-transition: all .8s ease;-webkit-transition: all .8s ease;transition: all .8s ease;}
.mo-map-b img{transform: scale(1);width:6.16rem;/*height:4.5rem;*/height:5.08rem;}

.mo-map-city{display:none;position:absolute;left:1rem;bottom:23%;}
.mo-map-b2 .mo-map-city{left:1rem;display:block;position:absolute;animation:mo-map-city 1.5s;-webkit-animation:mo-map-city 1.5s;animation-fill-mode: inherit;}
 @keyframes mo-map-city{
    0%{left:0;opacity:0;}  100%{left:1rem;opacity:1;}
 }
  @-webkit-keyframes mo-map-city{
    0%{left:0;opacity:0;}  100%{left:1rem;opacity:1;}
 }
  @-moz-keyframes mo-map-city{
  	0%{left:0;opacity:0;}  100%{left:1rem;opacity:1;}
 }
 @-o-keyframes mo-map-city{
   	0%{left:0;opacity:0;}  100%{left:1rem;opacity:1;}
 }

.mo-map-city2{display:none;position:absolute;right:0.3rem;bottom:23%;}
.mo-map-b3 .mo-map-city2{display:block;position:absolute;animation:mo-map-city2 1.5s;-webkit-animation:mo-map-city2 1.5s;animation-fill-mode: inherit;}
 @keyframes mo-map-city2{
    0%{right:0;opacity:0;}  100%{right:0.3rem;opacity:1;}
 }
  @-webkit-keyframes mo-map-city2{
    0%{right:0;opacity:0;}  100%{right:0.3rem;opacity:1;}
 }
  @-moz-keyframes mo-map-city2{
  	0%{right:0;opacity:0;}  100%{right:0.3rem;opacity:1;}
 }
 @-o-keyframes mo-map-city2{
   	0%{right:0;opacity:0;}  100%{right:0.3rem;opacity:1;}
 }
 
.mo-map-btitle{display:none;width:3.52rem;height:1.07rem;border-radius:0.2rem;border:0.04rem solid #57cdfd;position:absolute;bottom:11%;left:50%;margin-left:-1.8rem;}
.mo-map-txt3{color:#3a3433;font-size:0.3rem;font-weight:bold;line-height:0.4rem;padding-top:0.15rem;}
.mo-map-txt4{color:#b3adad;font-size:0.3rem;line-height:0.4rem;}
.mo-map-b4 .mo-map-btitle{display:block;position:absolute;animation:mo-map-btitle 1.5s;-webkit-animation:mo-map-btitle 1.5s;animation-fill-mode: inherit;}
 @keyframes mo-map-btitle{
    0%{bottom:0;opacity:0;}  100%{bottom:11%;opacity:1;}
 }
  @-webkit-keyframes mo-map-btitle{
    0%{right:0;opacity:0;}  100%{bottom:11%;opacity:1;}
 }
  @-moz-keyframes mo-map-btitle{
  	0%{right:0;opacity:0;}  100%{bottom:11%;opacity:1;}
 }
 @-o-keyframes mo-map-btitle{
   	0%{right:0;opacity:0;}  100%{bottom:11%;opacity:1;}
 }

.mo-quan2o{position:absolute;left:0;top:8%;}
#moquan2{width:7.5rem;height:4.5rem;}
.mo-man{position:absolute;left:0.6rem;top:35%;width:3.16rem;height:4.07rem;}
.mo-man img{transform: scale(0.5);}
.mo-man-b img{moz-transition: all .8s ease;-o-transition: all .8s ease;-webkit-transition: all .8s ease;transition: all .8s ease;}
.mo-man-b img{transform:scale(1);width:3.78rem;height:4.87rem;}

.mo-terminal{color:#6d6261;font-size:0.3rem;position:absolute;left:4.5rem;top:40%;}
.mo-terminali{padding-top:0.46rem;}
.mo-terminali i{vertical-align:middle;margin-bottom:0.05rem;display:inline-block;width:0.62rem;height:0.33rem;border-radius:0.05rem;}
.mo-pc{background:#75bf58;}
.mo-terminal span{margin-left:0.2rem;display:inline-block;width:1rem;text-align:left;}
.mo-app{background:#f1736a;}
.mo-wap{background:#5b9fe2;}
.mo-tn-btitle{width:3.52rem;height:1.07rem;position:absolute;bottom:10%;left:50%;margin-left:-1.8rem;}

.mo-news-t{position:absolute;top:10%;left:50%;margin-left:-2.665rem;border-radius:0.1rem;width:5.25rem;/*height:0.58rem;*/text-align:center;/*line-height:0.58rem;*/padding:0.2rem 0;color:#6791fa;font-size:0.3rem;border:0.04rem solid #6791fa;}
.mo-adv{/*display:none;*/width:7.03rem;height:7.9rem;position: relative;

}
.mo-newspic{/*float:left;padding:0.25rem 0.33rem;padding-top:0.4rem;*/ }
.mo-newspic img{width:7.03rem;height:3.63rem;}
.mo-newstxt{/*float:left;*/width:7.03rem;text-align:center;line-height:0.42rem;color:#593f2c;font-size:0.26rem;/*padding-top:0.22rem;padding-left: 0.48rem;padding-right:0.48rem;*/margin:0 auto; }
.mo-adv1{display:block;transform: scale(0.5);}
.mo-news-b .mo-adv1{moz-transition: all .8s ease;-o-transition: all .8s ease;-webkit-transition: all .8s ease;transition: all .8s ease;}
.mo-news-b .mo-adv1{transform: scale(1);}

.mo-adv2{display:block;transform: scale(0.5);}
.mo-news-b2 .mo-adv2{moz-transition: all .8s ease;-o-transition: all .8s ease;-webkit-transition: all .8s ease;transition: all .8s ease;}
.mo-news-b2 .mo-adv2{transform: scale(1);}
.mo-adv {/*margin-top:0.5rem;*/}
.mo-advo{position:absolute;top:18%;left:49%;margin-left:-3.45rem;}

path.highcharts-point.highcharts-color-0,
path.highcharts-point.highcharts-color-1,
path.highcharts-point.highcharts-color-2,
path.highcharts-point.highcharts-color-3
{stroke-width:0;}
rect.highcharts-point.highcharts-color-0,
rect.highcharts-point.highcharts-color-1,
rect.highcharts-point.highcharts-color-2,
rect.highcharts-point.highcharts-color-3,
rect.highcharts-point.highcharts-color-4,
rect.highcharts-point.highcharts-color-5,
rect.highcharts-point.highcharts-color-6{stroke-width:0;}
tspan.highcharts-text-outline{stroke-width:0;}

.mo-listbtn{display:none;line-height:0.42rem;color:#b3adad;font-size:0.3rem;text-align:center;width:0.5rem;padding:0.1rem 0;border-radius:0.2rem;background:#FFFFFF;
box-shadow: 0 0 0.5rem rgba(109,98,97,0.2);
}
.mo-listbtno{position:fixed;right:0.1rem;top:3%;z-index:999;}
.mo-listo{display:none;position:fixed;right:0.1rem;top:13%;z-index:999;width:2.31rem;height:4.91rem;background:#FFFFFF;border-radius:0.2rem;
box-shadow: 0 0 0.5rem rgba(109,98,97,0.2);
filter: alpha(opacity=90);-moz-opacity:0.9;opacity:0.9;
}
.mo-abtn{padding-top:0.4rem;padding-left:0.3rem;color:#b3adad;font-size:0.3rem;line-height:0.42rem;display:block;}
.mo-lbtn img{width:0.5rem;height:0.5rem;display:block;margin:0 auto;}
.mo-lbtn{padding-top:0.3rem;overflow:hidden;display:block;}


.jianxian{
  -webkit-animation: jianxian ease 2s both 1;
  animation: jianxian ease 2s both 1;
}
@-webkit-keyframes jianxian{    /*透明度由0到1*/
    0%{
       opacity:0; /*透明度为0*/
     }
    100%{
       opacity:1; /*透明度为1*/
    }
  }
@keyframes jianxian{    /*透明度由0到1*/
    0%{
       opacity:0; /*透明度为0*/
     }
    100%{
       opacity:1; /*透明度为1*/
    }
  }

.xialuo{
  -webkit-animation: xialuo ease 2s both 1;
  animation: xialuo ease 2s both 1;
}
@-webkit-keyframes xialuo{    
    0%{
       opacity:0;
       top:49%; 
     }
    100%{
       opacity:1;
       top:60%; 
    }
  }
@keyframes xialuo{    
    0%{
       opacity:0;
       top:49%;  
     }
    100%{
       opacity:1;
       top:60%;  
    }
  }

.xinte{
  background: url(../img/bei4.png) center no-repeat !important;
  background-size:cover !important;  
}
